In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('PlayTennis.csv')
data.head()

    Outlook Temperature Humidity    Wind Play Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes

In [3]:
# Problem 1

# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak
# Play or No Play?

# Solution =>
# P(Yes | Sunny,Hot,High,Weak) = P(Sunny|Yes)*P(Hot|Yes)*P(High|Yes)*P(Weak|Yes) * P(Yes)
# P(No | Sunny,Hot,High,Weak) = P(Sunny|No)*P(Hot|No)*P(High|No)*P(Weak|No) * P(No)

# Compare and Decide using the Maximum a posteriori Rule

In [4]:
# Training

# Lookup Table(Dictionary)

# Testing

In [5]:
# P(Yes)
# P(No)

In [18]:
data['Play Tennis'].value_counts()

Play Tennis
Yes    9
No     5
Name: count, dtype: int64

In [19]:
py = 9/14
pn = 5/14
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [20]:
# Outlook

pd.crosstab(data['Outlook'],data['Play Tennis'])

Play Tennis  No  Yes
Outlook
Overcast      0    4
Rain          2    3
Sunny         3    2

In [21]:
Pon = 0
Prn = 2/5
Psn = 3/5

Poy = 4/9
Pry = 3/9
Psy = 2/9

In [22]:
# temp
pd.crosstab(data['Temperature'],data['Play Tennis'])

Play Tennis  No  Yes
Temperature
Cool          1    3
Hot           2    2
Mild          2    4

In [23]:
PcoolNo = 1/5
PhotNo = 2/5
PmildNo = 2/5

Pcoolyes = 3/9
Photyes = 2/9
Pmildyes = 4/9

In [24]:
# Humidity

pd.crosstab(data['Humidity'],data['Play Tennis'])

Play Tennis  No  Yes
Humidity
High          4    3
Normal        1    6

In [25]:
Phighno = 4/5
Pnormalno = 1/5

Phighyes = 3/9
Pnormalyes = 6/9

In [26]:
# Wind
pd.crosstab(data['Wind'],data['Play Tennis'])

Play Tennis  No  Yes
Wind
Strong        3    3
Weak          2    6

In [27]:
Pstrongno = 3/5
Pweakno = 2/5

Pstrongyes = 3/9
Pweakyes = 6/9

In [28]:
# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak

Pyes = py * Psy * Photyes * Phighyes * Pweakyes
print(Pyes)

0.007054673721340388

In [29]:
Pno = pn * Psn * PhotNo * Phighno * Pweakno
print(Pno)

0.02742857142857143

In [30]:
# Since Pno > Pyes thus NO Play